<!DOCTYPE html>
<html>
  <head>
    <title>Database Credentials Form</title>
  </head>
  <body>
    <h1>Database Credentials Form</h1>
    <form action="" method="post">
      <label for="hostname">Hostname:</label>
      <input type="text" id="hostname" name="hostname"><br><br>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body> 
</html>
